/* font-family: "RalewayMedium"; */
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewaySemiBold"; */
@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
