body {font-family: "RalewayMedium", Arial, serif;font-size:16px;}
.blue-s {color: #1A83FF;}

#mainmenu{width:200px;margin-top:20px;}
#main-content{background: #fff;width:1280px;margin:auto;}
#fio {min-width:200px;}
.v-avatar{margin:10px 20px;}
.info-field {margin:20px auto;}
#photo {width:200px;height:200px;}
.passport-data{margin:20px 0;font-size:12px;color:#666666;}
.data-input {border:1px solid #999;border-radius: 5px;height:48px;padding:12px 20px;margin-right:20px;color:#666666;font-size:16px;}
#top-toolbar .v-toolbar__content{max-width:1280px;margin:auto;}

.application--wrap{background:#fff;}
.w220 {width: 220px;max-width:220px;}
.info-near-photo p {line-height: 33px;font-size:16px;font-family: 'Open Sans', sans-serif;margin:0;color:#000;}
h4 {line-height: 33px;font-size:18px;font-weight:bold;font-family: "RalewayMedium", Arial, serif;margin:0;color:#000;}



